
.formContainer {
    background-image: url("/vista-aerea-equipo-empresarial1.svg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    flex-basis: 70%;
  }
  
  /* estilos para el formulario */
  .formu{
    /* ... */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .previousElement {
    margin-bottom: -200px; /* Ajusta el valor según sea necesario */
  }
  
  .titulo{
    align-self: flex-start;
    margin-left: 10%;
    color: #00529B;
    font-size: 50px;
    margin-bottom: 250px;
  }
  
  .entradas[type='text']{
    width: 80%;
    height: 200px;
    margin-bottom: 100px;
    border-radius: 50px;
    border: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .entradas[type='email'] {
    width: 80%;
    height: 50px;
    margin-bottom: 100px;
    border-radius: 50px;
    border: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .buton[type='submit'] {
    background: #00529B;
    border: none;
    border-radius: 50px;
    width: 300px;
    height: 100px;
    color: white;
    text-align: center;
    margin-right: 10%;
    align-self: flex-end;
  }
  
  .buton:hover{
    background: #00539b6a;
    border: 1px solid #00529B;
    color: black;
  }

  @media screen and (max-width: 700px){
    /* Estilos para el formulario */
    .titulo{
      font-size: 2rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      text-align: center;
      }
      
      .entradas[type='text']{
      width: 90%;
      height: 150px;
      margin-bottom: 1rem;
      }
      
      .entradas[type='email'] {
      width: 90%;
      height: 50px;
      margin-bottom: 1rem;
      }
      
      .buton[type='submit'] {
      width: 80%;
      height: 60px;
      margin-bottom: 2rem;
      margin-left: 10%;
      align-self: center;
      }
      
      .buton:hover{
      background: #00529B;
      border: 1px solid white;
      color: white;
      }
}